<section class="search-section">
  <mat-radio-button class="example-margin" (change)="getOpenStatus()">open</mat-radio-button>
  <mat-radio-button class="example-margin" (change)="getClosedStatus()">closed</mat-radio-button>
  <mat-radio-button class="example-margin" (change)="getAllJobsStatus()">All</mat-radio-button>
  <mat-form-field class="example-margin">
    <input matInput [(ngModel)]="searchParam" placeholder="Enter Title">
  </mat-form-field>
  <button class="example-margin" (click)='searchTitle()' mat-button mat-raised-button>Search</button>
</section>