::ng-deep header {
    position: relative;

    h1 {
        display: inline-block;
    }

    p {
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 15px;
    }
}
